* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  .wrapper {
    .header {
      width: 100%;
      height: 98px;
      position: fixed;
      z-index: 99;
      background: #ffffff;
      border: 1px solid #eaeaea;
      display: grid;
      grid-template-columns: 1fr 227px 1fr;
      padding: 0 0 0 32px;
      .group_header_one {
        display: flex;
        align-items: center;
        .__call_us {
          display: flex;
          align-items: center;
          margin-right: 32px;
          img {
            margin-right: 8px;
          }
          .__info_number {
            font-family: "DM Sans", sans-serif;
            .__text_call_us {
              font-style: normal;
              font-weight: bold;
              font-size: 12px;
              line-height: 16px;
              letter-spacing: 0.125em;
              text-transform: uppercase;
              color: #7567f8;
            }
            .__number_phone {
              font-style: normal;
              font-weight: bold;
              font-size: 20px;
              line-height: 26px;
              color: #222222;
            }
          }
        }
        .vertical-line {
          border-left: 1px solid #eaeaea;
          height: 98px;
          margin-right: 42px;
        }
        .__are_you_a_member {
          font-family: "DM Sans", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 13px;
          line-height: 17px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          span {
            color: #555555;
          }
          a {
            color: #7567f8;
            text-decoration: none;
          }
        }
      }
      .group_header_two {
        display: flex;
        .__logo {
          display: flex;
          align-items: center;
          font-family: "DM Sans", sans-serif;
          a {
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 47px;
            color: #222222;
            text-decoration: none;
          }
          img {
            width: 10px;
            height: 10px;
            margin-left: 4px;
            margin-right: 16px;
          }
          .__agency {
            font-weight: 500;
            font-size: 14px;
            line-height: 114.2%;
            letter-spacing: 0.315em;
            text-transform: uppercase;
            color: #999999;
          }
        }
      }
      .group_header_three {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-family: "DM Sans", sans-serif;
        ._search {
          margin-right: 48px;
        }
        ._change_language {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 21px;
          text-transform: uppercase;
          color: #999999;
        }
        ._menu {
          width: 106px;
          height: 100%;
          background: #7567f8;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 52px;
        }
      }
    }
    .__ss_hero {
      background-image: url(../../images/section-hero.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      .__wrap_hero {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-family: "DM Sans", sans-serif;
        .__thumbnail_hero {
          position: relative;
          padding-right: 55px;
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }
        .__content_hero {
          margin-left: -10px;
          .__text_hr {
            padding-top: 225px;
            width: 509px;
            ._headding_hr {
              font-style: normal;
              font-weight: 500;
              font-size: 15px;
              line-height: 142.2%;
              letter-spacing: 0.435em;
              text-transform: uppercase;
              color: #222222;
            }
            h2 {
              font-size: 39px;
              font-weight: bold;
              span {
                color: #7567f8;
              }
            }
            .__des_hr {
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              line-height: 29px;
              color: #555555;
              margin-top: 14px;
            }
            ._group_button {
              margin-top: 36px;
              .btn-get-started {
                padding: 23px 40px;
                background: #7567f8;
                font-family: "DM Sans", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 22px;
                text-transform: uppercase;
                color: #ffffff;
                border: none;
                margin-right: 32px;
                &:focus {
                  outline: none;
                }
              }
              .btn-enquire {
                font-family: "DM Sans", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.19em;
                text-transform: uppercase;
                color: #7567f8;
                border: none;
                background: transparent;
                &:focus {
                  outline: none;
                }
              }
            }
          }
          .shape_10 {
            position: absolute;
            top: 28px;
            left: calc(75% - 234px);
          }
          .__social_media {
            display: grid;
            position: absolute;
            top: 180px;
            right: 34px;
            a {
              width: 46px;
              height: 46px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              margin-top: 10px;
              .fa {
                color: #ffffff;
              }
            }
            .__facebook {
              background: #186cb0;
            }
            .__google_plus {
              background: #e22e04;
            }
            .__linkedin {
              background: #074682;
            }
            .__twitter {
              background: #00b3d3;
            }
          }
          ._btn_scroll {
            margin-top: 157px;
          }
        }
      }
    }
    .__ss_services {
      margin-top: 110px;
      .container {
        .__latest_services {
          font-weight: bold;
          font-size: 20px;
          line-height: 23px;
          text-align: center;
          letter-spacing: 0.225em;
          text-transform: uppercase;
          color: #7567f8;
        }
        .__title_services {
          font-weight: bold;
          font-size: 36px;
          line-height: 48px;
          letter-spacing: 2px;
          text-align: center;
          color: #000000;
        }
        .__post_services {
          margin-top: 59px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 30px;
          .__item_services {
            background: #f4f4f4;
            padding: 60px 53px 54px 59px;
            .__thumbnail_item {
              width: 72px;
              height: 72px;
              border-radius: 50%;
              background: #ffffff;
              img {
                margin: -10px 4px 20px 6px;
              }
            }
            .__title_item {
              margin-top: 18px;
              font-weight: bold;
              font-size: 20px;
              line-height: 27px;
              color: #222222;
            }
            .__content_item {
              margin-top: 12px;
              font-weight: normal;
              font-size: 16px;
              line-height: 25px;
              color: #555555;
            }
          }
        }
      }
    }
    .__ss_plan {
      background-image: url(../../images/section_plan.png);
      background-size: cover;
      background-position: center;
      margin-top: -100px;
      padding-top: 345px;
      .__digital_plan {
        background: #f4f4f4;
        background-image: url(../../images/section_plan.png);
        .container {
          padding-top: 126px;
          padding-bottom: 128px;
          display: flex;
          .__content_plan {
            padding-right: 35px;
            p.__most_amazing {
              font-weight: 500;
              font-size: 15px;
              line-height: 21px;
              letter-spacing: 0.435em;
              text-transform: uppercase;
              color: #7567f8;
            }
            h1.__title_plan {
              font-weight: bold;
              font-size: 42px;
              line-height: 56px;
              width: 448px;
            }
            p {
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              line-height: 29px;
              color: #555555;
              margin-top: 18px;
            }
            ._group_button {
              margin-top: 57px;
              .btn-get-started {
                padding: 23px 40px;
                background: #7567f8;
                font-family: "DM Sans", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 22px;
                text-transform: uppercase;
                color: #ffffff;
                border: none;
                margin-right: 32px;
                &:focus {
                  outline: none;
                }
              }
              .btn-enquire {
                font-family: "DM Sans", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.19em;
                text-transform: uppercase;
                color: #7567f8;
                border: none;
                background: transparent;
                &:focus {
                  outline: none;
                }
              }
            }
          }
          .__video_plan {
            position: relative;
            img {
            }
            .__button_play {
              position: absolute;
              top: 243px;
              left: 86px;
              padding-right: 118px;
              img {
              }
              h2 {
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                line-height: 39px;
                color: #ffffff;
              }
            }
          }
        }
      }
    }
    .__ss_funfact {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .__item_funfact {
        background: #6253ee;
        padding: 91px 105px;
        &:nth-child(2) {
          background: #7567f8;
        }
        ._percent {
          span {
            font-style: normal;
            font-weight: bold;
            font-size: 80px;
            line-height: 72px;
            text-align: center;
            color: #ffffff;
            margin: 0 auto;
            display: block;
          }
        }
        .__title_funfact {
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 31px;
          text-align: center;
          color: #ffffff;
          margin-top: 19px;
        }
        .__des_funfact {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 129%;
          text-align: center;
          color: #ffffff;
          margin-top: 3px;
        }
      }
    }
    .__ss_our_work {
      .container {
        margin-top: 128px;
        .__inside_our_work {
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 114.5%;
          text-align: center;
          letter-spacing: 0.225em;
          text-transform: uppercase;
          color: #7567f8;
        }
        .__title_our_work {
          font-weight: bold;
          font-size: 48px;
          line-height: 128%;
          letter-spacing: 2px;
          text-align: center;
          color: #000000;
        }
        .__our_work_wrap {
          margin-top: 60px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 57px 30px;
          ._content_our_work {
            padding: 29px 0 0 33px;
            h1.__title_work {
              font-weight: bold;
              font-size: 22px;
              line-height: 133.2%;
              color: #222222;
            }
            .p.__des_work {
              font-weight: 500;
              font-size: 16px;
              line-height: 153.7%;
              color: #555555;
            }
          }
        }
      }
    }

    .__modal_search {
      max-width: 720px;
      width: 100%;
      height: 100%;
      text-align: center;
      display: none;
      position: fixed;
      left: calc(50% - 375px);
      top: 0;
      overflow: auto;
      margin: 0 auto;
      background: rgba(0, 0, 0, 0.9);
      .fa-times {
        background: #7567f8;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 15px;
      }
      ._search_input {
        display: flex;
        align-items: center;
        .fa-search {
          width: 48px;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        input {
          width: 100%;
          height: 48px;
          border: none;
        }
      }
    }
  }
}
