* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  .wrapper {
    .header {
      width: 100%;
      height: 98px;
      position: fixed;
      z-index: 99;
      background: #ffffff;
      border: 1px solid #eaeaea;
      display: grid;
      grid-template-columns: 1fr 227px 1fr;
      padding: 0 0 0 32px;
      .group_header_one {
        display: flex;
        align-items: center;
        .__call_us {
          display: flex;
          align-items: center;
          margin-right: 32px;
          img {
            margin-right: 8px;
          }
          .__info_number {
            font-family: "DM Sans", sans-serif;
            .__text_call_us {
              font-style: normal;
              font-weight: bold;
              font-size: 12px;
              line-height: 16px;
              letter-spacing: 0.125em;
              text-transform: uppercase;
              color: #7567f8;
            }
            .__number_phone {
              font-style: normal;
              font-weight: bold;
              font-size: 20px;
              line-height: 26px;
              color: #222222;
            }
          }
        }
        .vertical-line {
          border-left: 1px solid #eaeaea;
          height: 98px;
          margin-right: 42px;
        }
        .__are_you_a_member {
          font-family: "DM Sans", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 13px;
          line-height: 17px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          span {
            color: #555555;
          }
          a {
            color: #7567f8;
            text-decoration: none;
          }
        }
      }
      .group_header_two {
        display: flex;
        .__logo {
          display: flex;
          align-items: center;
          font-family: "DM Sans", sans-serif;
          a {
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 47px;
            color: #222222;
            text-decoration: none;
          }
          img {
            width: 10px;
            height: 10px;
            margin-left: 4px;
            margin-right: 16px;
          }
          .__agency {
            font-weight: 500;
            font-size: 14px;
            line-height: 114.2%;
            letter-spacing: 0.315em;
            text-transform: uppercase;
            color: #999999;
          }
        }
      }
      .group_header_three {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-family: "DM Sans", sans-serif;
        ._search {
          margin-right: 48px;
        }
        ._change_language {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 21px;
          text-transform: uppercase;
          color: #999999;
        }
        ._menu {
          width: 106px;
          height: 100%;
          background: #7567f8;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 52px;
        }
      }
    }
    .__ss_hero {
      background-image: url(../../images/section-hero.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      .__wrap_hero {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-family: "DM Sans", sans-serif;
        .__thumbnail_hero {
          position: relative;
          padding-right: 55px;
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }
        .__content_hero {
          margin-left: -10px;
          .__text_hr {
            padding-top: 225px;
            width: 509px;
            ._headding_hr {
              font-style: normal;
              font-weight: 500;
              font-size: 15px;
              line-height: 142.2%;
              letter-spacing: 0.435em;
              text-transform: uppercase;
              color: #222222;
            }
            h2 {
              font-size: 39px;
              font-weight: bold;
              span {
                color: #7567f8;
              }
            }
            .__des_hr {
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              line-height: 29px;
              color: #555555;
              margin-top: 14px;
            }
            ._group_button {
              margin-top: 36px;
              .btn-get-started {
                padding: 23px 40px;
                background: #7567f8;
                font-family: "DM Sans", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 22px;
                text-transform: uppercase;
                color: #ffffff;
                border: none;
                margin-right: 32px;
                cursor: pointer;
                &:focus {
                  outline: none;
                }
              }
              .btn-enquire {
                font-family: "DM Sans", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.19em;
                text-transform: uppercase;
                color: #7567f8;
                border: none;
                background: transparent;
                cursor: pointer;
                &:focus {
                  outline: none;
                }
              }
            }
          }
          .shape_10 {
            position: absolute;
            top: 28px;
            left: calc(75% - 234px);
          }
          .__social_media {
            display: grid;
            position: absolute;
            top: 180px;
            right: 34px;
            a {
              width: 46px;
              height: 46px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              margin-top: 10px;
              .fa {
                color: #ffffff;
              }
            }
            .__facebook {
              background: #186cb0;
            }
            .__google_plus {
              background: #e22e04;
            }
            .__linkedin {
              background: #074682;
            }
            .__twitter {
              background: #00b3d3;
            }
          }
          ._btn_scroll {
            margin-top: 157px;
          }
        }
      }
    }
    .__ss_services {
      margin-top: 110px;
      .container {
        .__latest_services {
          font-weight: bold;
          font-size: 20px;
          line-height: 23px;
          text-align: center;
          letter-spacing: 0.225em;
          text-transform: uppercase;
          color: #7567f8;
        }
        .__title_services {
          font-weight: bold;
          font-size: 36px;
          line-height: 48px;
          letter-spacing: 2px;
          text-align: center;
          color: #000000;
        }
        .__post_services {
          margin-top: 59px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 30px;
          .__item_services {
            background: #f4f4f4;
            padding: 60px 53px 54px 59px;
            .__thumbnail_item {
              width: 72px;
              height: 72px;
              border-radius: 50%;
              background: #ffffff;
              img {
                margin: -10px 4px 20px 6px;
              }
            }
            .__title_item {
              margin-top: 18px;
              font-weight: bold;
              font-size: 20px;
              line-height: 27px;
              color: #222222;
            }
            .__content_item {
              margin-top: 12px;
              font-weight: normal;
              font-size: 16px;
              line-height: 25px;
              color: #555555;
            }
          }
        }
      }
    }
    .__ss_plan {
      background-image: url(../../images/section_plan.png);
      background-size: cover;
      background-position: center;
      margin-top: -100px;
      padding-top: 345px;
      .__digital_plan {
        background: #f4f4f4;
        background-image: url(../../images/section_plan.png);
        .container {
          padding-top: 126px;
          padding-bottom: 128px;
          display: flex;
          .__content_plan {
            padding-right: 35px;
            p.__most_amazing {
              font-weight: 500;
              font-size: 15px;
              line-height: 21px;
              letter-spacing: 0.435em;
              text-transform: uppercase;
              color: #7567f8;
            }
            h1.__title_plan {
              font-weight: bold;
              font-size: 42px;
              line-height: 56px;
              width: 448px;
            }
            p {
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              line-height: 29px;
              color: #555555;
              margin-top: 18px;
            }
            ._group_button {
              margin-top: 57px;
              .btn-get-started {
                padding: 23px 40px;
                background: #7567f8;
                font-family: "DM Sans", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 22px;
                text-transform: uppercase;
                color: #ffffff;
                border: none;
                margin-right: 32px;
                &:focus {
                  outline: none;
                }
              }
              .btn-enquire {
                font-family: "DM Sans", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.19em;
                text-transform: uppercase;
                color: #7567f8;
                border: none;
                background: transparent;
                &:focus {
                  outline: none;
                }
              }
            }
          }
          .__video_plan {
            position: relative;
            img {
            }
            .__button_play {
              position: absolute;
              top: 243px;
              left: 86px;
              padding-right: 118px;
              img {
              }
              h2 {
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                line-height: 39px;
                color: #ffffff;
              }
            }
          }
        }
      }
    }
    .__ss_funfact {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .__item_funfact {
        background: #6253ee;
        padding: 91px 105px;
        &:nth-child(2) {
          background: #7567f8;
        }
        ._percent {
          span {
            font-style: normal;
            font-weight: bold;
            font-size: 80px;
            line-height: 72px;
            text-align: center;
            color: #ffffff;
            margin: 0 auto;
            display: block;
          }
        }
        .__title_funfact {
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 31px;
          text-align: center;
          color: #ffffff;
          margin-top: 19px;
        }
        .__des_funfact {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 129%;
          text-align: center;
          color: #ffffff;
          margin-top: 3px;
        }
      }
    }
    .__ss_our_work {
      margin-top: 128px;
      padding-bottom: 47px;
      .container {
        .__inside_our_work {
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 114.5%;
          text-align: center;
          letter-spacing: 0.225em;
          text-transform: uppercase;
          color: #7567f8;
        }
        .__title_our_work {
          font-weight: bold;
          font-size: 48px;
          line-height: 128%;
          letter-spacing: 2px;
          text-align: center;
          color: #000000;
        }
        .__our_work_wrap {
          margin-top: 60px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 57px 30px;
          .__item_our_work {
            ._thumbnail_work {
              position: relative;
              width: 100%;
              max-height: 268px;
              height: 100%;
              img.thumb_work {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
              .overplay {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.5);
                display: none;
                animation: scale 0.5s;
              }
              ._arrow_work {
                display: none;
                position: absolute;
                width: 52px;
                height: 52px;
                background: #7567f8;
                top: calc(50% - 26px);
                left: calc(50% - 26px);
                animation: scale 0.5s;
                &::after {
                  content: "\f178";
                  font-family: FontAwesome;
                  font-size: 18px;
                  text-transform: uppercase;
                  color: #ffffff;
                  position: absolute;
                  left: calc(50% - 9px);
                  top: calc(50% - 8.8px);
                }
              }
            }
            ._content_our_work {
              padding: 29px 0 0 33px;
              h1.__title_work {
                font-weight: bold;
                font-size: 22px;
                line-height: 133.2%;
                color: #222222;
              }
              .p.__des_work {
                font-weight: 500;
                font-size: 16px;
                line-height: 153.7%;
                color: #555555;
              }
            }
            &:hover {
              ._arrow_work {
                display: block;
              }
              .overplay {
                display: block;
              }
            }
          }
        }
        ._group_button {
          text-align: center;
          margin-top: 77px;
          .btn-more-project {
            padding: 23px 47px;
            background: #7567f8;
            font-weight: bold;
            font-size: 14px;
            line-height: 160.2%;
            text-transform: uppercase;
            color: #ffffff;
            border: none;
            margin-right: 32px;
            cursor: pointer;
            &:focus {
              outline: none;
            }
          }
          .btn-enquire {
            font-weight: bold;
            font-size: 14px;
            line-height: 160.2%;
            letter-spacing: 0.19em;
            text-transform: uppercase;
            color: #7567f8;
            border: none;
            background: transparent;
            cursor: pointer;
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
    .__ss_review {
      background: #f4f4f4;
      padding-top: 117px;
      padding-bottom: 106px;
      .container {
        .__look_inside_review {
          font-weight: bold;
          font-size: 20px;
          line-height: 114.5%;
          letter-spacing: 0.225em;
          text-transform: uppercase;
          text-align: center;
          color: #7567f8;
        }
        .__title_our_work {
          font-weight: bold;
          font-size: 48px;
          line-height: 128%;
          letter-spacing: 2px;
          text-align: center;
          color: #000000;
        }
        .feedback_customer {
          margin-top: 49px;
          .item {
            background: #ffffff;
            padding: 44px 60px 44px 67px;
            .__review_customer {
              display: grid;
              grid-template-columns: 100px 1fr;
              ._thumbnail_customer {
                width: 100px;
                height: 100px;
                position: relative;
                img {
                  width: 100px;
                  height: auto;
                }
                .__quote {
                  position: absolute;
                  right: 12px;
                  bottom: -8px;
                  width: 36px;
                  height: 36px;
                  background: #ffffff;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  img {
                    width: 16px;
                    height: 32px;
                    margin: 0 auto;
                  }
                }
              }
              ._comment_customer {
                font-style: italic;
                font-weight: normal;
                font-size: 16px;
                line-height: 160.2%;
                color: #555555;
                margin-left: 31px;
              }
              ._infomation_customer {
                display: flex;
                margin: 24px 40px 0 31px;
                justify-content: space-between;
                ._info_customer {
                  .__name_customer {
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 133.2%;
                    color: #222222;
                  }
                  .__note_customer {
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 153.7%;
                    text-transform: uppercase;

                    color: #7567f8;
                  }
                }
                .__rate {
                }
              }
            }
          }
          &:hover {
            .__quote {
              border: 1px solid #7567f8;
            }
          }
        }
        .owl-nav {
          display: none;
        }
        .owl-dots {
          margin-top: 40px;
          .owl-dot {
            span {
              width: 11px;
              height: 11px;
              background: #c4c4c4;
            }
            &.active {
              span {
                background: #7567f8;
              }
            }
          }
        }
      }
    }
    .__ss_meet_our_team {
      background-image: url(../../images/section_meet_team.png);
      background-position: center;
      background-size: cover;
      padding-top: 116px;
      padding-bottom: 113px;
      .container {
        .__meet_our_team {
          font-weight: bold;
          font-size: 20px;
          line-height: 114.5%;
          text-align: center;
          letter-spacing: 0.225em;
          text-transform: uppercase;
          color: #7567f8;
        }
        .__title_meet_our_team {
          font-weight: bold;
          font-size: 48px;
          line-height: 128%;
          letter-spacing: 2px;
          text-align: center;
          color: #000000;
        }
        .__wrap_our_team {
          display: grid;
          grid-gap: 30px;
          grid-template-columns: repeat(4, 1fr);
          margin-top: 60px;
          .__member {
            &:hover {
              img {
                transform: scale(1.1);
              }
            }
            .__thumbnail_member {
              width: 100%;
              height: 285px;
              overflow: hidden;
              img {
                width: 100%;
                object-fit: cover;
                transition: 0.4s;
              }
            }
            .__info_member {
              margin-top: 23px;
              ._name_member {
                font-weight: bold;
                font-size: 24px;
                line-height: 133.2%;
                color: #222222;
              }
              ._regency_member {
                font-weight: 500;
                font-size: 16px;
                line-height: 153.7%;
                text-transform: uppercase;
                color: #7567f8;
              }
            }
          }
        }
      }
    }
    .__ss_team_up {
      background-image: url(../../images/secton_team_up.png);
      padding-top: 63px;
      padding-bottom: 52px;
      position: relative;
      z-index: -1;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: #f4f4f4;
        width: 100%;
        height: 100%;
        opacity: 0.9;
        z-index: -1;
      }
      .__wrap_team_up {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .__ready_team_up {
          display: flex;
          align-items: center;
          ._icon_team_work {
            width: 112px;
            height: 112px;
            background: #ffffff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 35px;
            img {
              width: 50px;
              height: 50px;
            }
          }
          .__text_team_up {
            ._title_team_up {
              font-weight: bold;
              font-size: 40px;
              line-height: 128.7%;
              color: #222222;
              span {
                font-weight: normal;
              }
            }
            ._des_team_up {
              font-size: 18px;
              line-height: 160.2%;
              color: #555555;
            }
          }
        }
        ._group_btn_action {
          ._btn_readmore {
            font-weight: bold;
            font-size: 14px;
            line-height: 160.2%;
            text-transform: uppercase;
            color: #7567f8;
            padding: 23px 40px;
            border: 5px solid #7567f8;
            margin-right: 17px;
          }
          ._btn_started {
            font-weight: bold;
            font-size: 14px;
            line-height: 160.2%;
            text-transform: uppercase;
            color: #ffffff;
            padding: 23px 40px;
            background: #7567f8;
            border: 5px solid #7567f8;
          }
        }
      }
    }
    .__ss_price_plan {
      margin-top: 116px;
      background-image: url(../../images/section_price.png);
      background-size: cover;
      background-position: center;
      .container {
        .__pricing_plan {
          font-weight: bold;
          font-size: 20px;
          line-height: 114.5%;
          text-align: center;
          letter-spacing: 0.225em;
          text-transform: uppercase;
          color: #7567f8;
        }
        .__title_pricing_plan {
          font-weight: bold;
          font-size: 48px;
          line-height: 128%;
          letter-spacing: 2px;
          text-align: center;
          color: #000000;
        }
        .__wrap_price {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 30px;
          margin-top: 59px;
          ._item_price {
            background: #ffffff;
            border: 5px solid #7567f8;
            padding: 43px 75px 177px 73px;
            position: relative;
            transition: 0.4s;
            ._the_price {
              font-weight: bold;
              font-size: 24px;
              line-height: 133.2%;
              color: #222222;
              span {
                font-size: 64px;
              }
            }
            ._the_extend {
              font-weight: bold;
              font-size: 14px;
              line-height: 160.2%;
              letter-spacing: 0.585em;
              text-transform: uppercase;
              color: #7567f8;
            }
            ._the_version {
              margin-top: 13px;
              font-weight: bold;
              font-size: 24px;
              line-height: 133.2%;
              color: #222222;
            }
            ._the_option {
              margin-top: 35px;
              li {
                font-size: 16px;
                line-height: 216.7%;
                list-style-type: none;
                display: flex;
                align-items: center;
                .fa {
                  border: 1px solid #7567f8;
                  color: #7567f8;
                  font-size: 8px;
                  padding: 2px;
                  margin-right: 20px;
                }
                a {
                  font-size: 16px;
                  line-height: 216.7%;
                }
              }
            }
            ._get_price {
              padding: 23px 40px;
              background: #7567f8;
              font-weight: bold;
              font-size: 14px;
              line-height: 160.2%;
              text-transform: uppercase;
              color: #ffffff;
              margin-top: 45px;
              position: absolute;
              bottom: 59px;
              border: 3px solid #7567f8;
              transition: 0.4s;
              cursor: pointer;
              &:focus {
                outline: none;
              }
            }
            &:hover {
              background: #7567f8;
              .__info_plan {
                ._the_price {
                  color: #ffffff;
                }
                ._the_extend {
                  color: #ffffff;
                }
                ._the_version {
                  color: #ffffff;
                }
              }
              ._the_option {
                .fa {
                  border: 1px solid #ffffff;
                  color: #ffffff;
                }
                a {
                  color: #ffffff;
                }
              }
              ._get_price {
                border: 3px solid #ffffff;
              }
            }
          }
        }
      }
    }
    .__ss_news_and_blog {
      background: #f4f4f4;
      background-image: url(../../images/section_news.png);
      margin-top: 121px;

      .container {
        .__recent_blog {
          font-weight: bold;
          font-size: 20px;
          line-height: 114.5%;
          text-align: center;
          letter-spacing: 0.225em;
          text-transform: uppercase;
          color: #7567f8;
        }
        .__title_news {
          font-weight: bold;
          font-size: 48px;
          line-height: 128%;
          letter-spacing: 2px;
          text-align: center;
          color: #000000;
        }
        .__wrap_news {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 30px;
          .__items_new {
            position: relative;
            ._thumbnail_new {
              img {
                width: 100%;
              }
              &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: #000000;
                top: 0;
                left: 0;
                opacity: 0.5;
              }
            }
            .__category_new {
              position: absolute;
              top: 46px;
              right: 48px;
              background: #7567f8;
              font-weight: bold;
              font-size: 13px;
              line-height: 132.7%;
              text-transform: uppercase;
              color: #ffffff;
              padding: 10px 22px 9px 23px;
            }
            .__info_news {
              position: absolute;
              top: 200px;
              left: 75px;
              right: 94px;
              ._date_new {
                font-size: 16px;
                line-height: 132.7%;
                color: #ffffff;
                &::before {
                  content: "\f073";
                  font-family: FontAwesome;
                  color: #7567f8;
                  margin-right: 10px;
                }
              }
              ._title_new {
                font-weight: bold;
                font-size: 30px;
                line-height: 132.7%;
                color: #ffffff;
              }
              ._author_new {
                img {
                }
                span {
                }
              }
            }
          }
        }
      }
    }

    .__modal_search {
      max-width: 720px;
      width: 100%;
      height: 100%;
      text-align: center;
      display: none;
      position: fixed;
      left: calc(50% - 375px);
      top: 0;
      overflow: auto;
      margin: 0 auto;
      background: rgba(0, 0, 0, 0.9);
      .fa-times {
        background: #7567f8;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 15px;
      }
      ._search_input {
        display: flex;
        align-items: center;
        .fa-search {
          width: 48px;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        input {
          width: 100%;
          height: 48px;
          border: none;
        }
      }
    }
  }
}
