@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto; }

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif; }
  * .wrapper .header {
    width: 100%;
    height: 98px;
    position: fixed;
    z-index: 99;
    background: #ffffff;
    border: 1px solid #eaeaea;
    display: grid;
    grid-template-columns: 1fr 227px 1fr;
    padding: 0 0 0 32px; }
    * .wrapper .header .group_header_one {
      display: flex;
      align-items: center; }
      * .wrapper .header .group_header_one .__call_us {
        display: flex;
        align-items: center;
        margin-right: 32px; }
        * .wrapper .header .group_header_one .__call_us img {
          margin-right: 8px; }
        * .wrapper .header .group_header_one .__call_us .__info_number {
          font-family: "DM Sans", sans-serif; }
          * .wrapper .header .group_header_one .__call_us .__info_number .__text_call_us {
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.125em;
            text-transform: uppercase;
            color: #7567f8; }
          * .wrapper .header .group_header_one .__call_us .__info_number .__number_phone {
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 26px;
            color: #222222; }
      * .wrapper .header .group_header_one .vertical-line {
        border-left: 1px solid #eaeaea;
        height: 98px;
        margin-right: 42px; }
      * .wrapper .header .group_header_one .__are_you_a_member {
        font-family: "DM Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 17px;
        letter-spacing: 0.05em;
        text-transform: uppercase; }
        * .wrapper .header .group_header_one .__are_you_a_member span {
          color: #555555; }
        * .wrapper .header .group_header_one .__are_you_a_member a {
          color: #7567f8;
          text-decoration: none; }
    * .wrapper .header .group_header_two {
      display: flex; }
      * .wrapper .header .group_header_two .__logo {
        display: flex;
        align-items: center;
        font-family: "DM Sans", sans-serif; }
        * .wrapper .header .group_header_two .__logo a {
          font-style: normal;
          font-weight: bold;
          font-size: 36px;
          line-height: 47px;
          color: #222222;
          text-decoration: none; }
        * .wrapper .header .group_header_two .__logo img {
          width: 10px;
          height: 10px;
          margin-left: 4px;
          margin-right: 16px; }
        * .wrapper .header .group_header_two .__logo .__agency {
          font-weight: 500;
          font-size: 14px;
          line-height: 114.2%;
          letter-spacing: 0.315em;
          text-transform: uppercase;
          color: #999999; }
    * .wrapper .header .group_header_three {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-family: "DM Sans", sans-serif; }
      * .wrapper .header .group_header_three ._search {
        margin-right: 48px; }
      * .wrapper .header .group_header_three ._change_language {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        color: #999999; }
      * .wrapper .header .group_header_three ._menu {
        width: 106px;
        height: 100%;
        background: #7567f8;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 52px; }
  * .wrapper .__ss_hero {
    background-image: url(../../images/section-hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
    * .wrapper .__ss_hero .__wrap_hero {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      font-family: "DM Sans", sans-serif; }
      * .wrapper .__ss_hero .__wrap_hero .__thumbnail_hero {
        position: relative;
        padding-right: 55px; }
        * .wrapper .__ss_hero .__wrap_hero .__thumbnail_hero img {
          width: 100%;
          height: auto;
          object-fit: cover; }
      * .wrapper .__ss_hero .__wrap_hero .__content_hero {
        margin-left: -10px; }
        * .wrapper .__ss_hero .__wrap_hero .__content_hero .__text_hr {
          padding-top: 225px;
          width: 509px; }
          * .wrapper .__ss_hero .__wrap_hero .__content_hero .__text_hr ._headding_hr {
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 142.2%;
            letter-spacing: 0.435em;
            text-transform: uppercase;
            color: #222222; }
          * .wrapper .__ss_hero .__wrap_hero .__content_hero .__text_hr h2 {
            font-size: 39px;
            font-weight: bold; }
            * .wrapper .__ss_hero .__wrap_hero .__content_hero .__text_hr h2 span {
              color: #7567f8; }
          * .wrapper .__ss_hero .__wrap_hero .__content_hero .__text_hr .__des_hr {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 29px;
            color: #555555;
            margin-top: 14px; }
          * .wrapper .__ss_hero .__wrap_hero .__content_hero .__text_hr ._group_button {
            margin-top: 36px; }
            * .wrapper .__ss_hero .__wrap_hero .__content_hero .__text_hr ._group_button .btn-get-started {
              padding: 23px 40px;
              background: #7567f8;
              font-family: "DM Sans", sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 22px;
              text-transform: uppercase;
              color: #ffffff;
              border: none;
              margin-right: 32px;
              cursor: pointer; }
              * .wrapper .__ss_hero .__wrap_hero .__content_hero .__text_hr ._group_button .btn-get-started:focus {
                outline: none; }
            * .wrapper .__ss_hero .__wrap_hero .__content_hero .__text_hr ._group_button .btn-enquire {
              font-family: "DM Sans", sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 22px;
              letter-spacing: 0.19em;
              text-transform: uppercase;
              color: #7567f8;
              border: none;
              background: transparent;
              cursor: pointer; }
              * .wrapper .__ss_hero .__wrap_hero .__content_hero .__text_hr ._group_button .btn-enquire:focus {
                outline: none; }
        * .wrapper .__ss_hero .__wrap_hero .__content_hero .shape_10 {
          position: absolute;
          top: 28px;
          left: calc(75% - 234px); }
        * .wrapper .__ss_hero .__wrap_hero .__content_hero .__social_media {
          display: grid;
          position: absolute;
          top: 180px;
          right: 34px; }
          * .wrapper .__ss_hero .__wrap_hero .__content_hero .__social_media a {
            width: 46px;
            height: 46px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            margin-top: 10px; }
            * .wrapper .__ss_hero .__wrap_hero .__content_hero .__social_media a .fa {
              color: #ffffff; }
          * .wrapper .__ss_hero .__wrap_hero .__content_hero .__social_media .__facebook {
            background: #186cb0; }
          * .wrapper .__ss_hero .__wrap_hero .__content_hero .__social_media .__google_plus {
            background: #e22e04; }
          * .wrapper .__ss_hero .__wrap_hero .__content_hero .__social_media .__linkedin {
            background: #074682; }
          * .wrapper .__ss_hero .__wrap_hero .__content_hero .__social_media .__twitter {
            background: #00b3d3; }
        * .wrapper .__ss_hero .__wrap_hero .__content_hero ._btn_scroll {
          margin-top: 157px; }
  * .wrapper .__ss_services {
    margin-top: 110px; }
    * .wrapper .__ss_services .container .__latest_services {
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.225em;
      text-transform: uppercase;
      color: #7567f8; }
    * .wrapper .__ss_services .container .__title_services {
      font-weight: bold;
      font-size: 36px;
      line-height: 48px;
      letter-spacing: 2px;
      text-align: center;
      color: #000000; }
    * .wrapper .__ss_services .container .__post_services {
      margin-top: 59px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px; }
      * .wrapper .__ss_services .container .__post_services .__item_services {
        background: #f4f4f4;
        padding: 60px 53px 54px 59px; }
        * .wrapper .__ss_services .container .__post_services .__item_services .__thumbnail_item {
          width: 72px;
          height: 72px;
          border-radius: 50%;
          background: #ffffff; }
          * .wrapper .__ss_services .container .__post_services .__item_services .__thumbnail_item img {
            margin: -10px 4px 20px 6px; }
        * .wrapper .__ss_services .container .__post_services .__item_services .__title_item {
          margin-top: 18px;
          font-weight: bold;
          font-size: 20px;
          line-height: 27px;
          color: #222222; }
        * .wrapper .__ss_services .container .__post_services .__item_services .__content_item {
          margin-top: 12px;
          font-weight: normal;
          font-size: 16px;
          line-height: 25px;
          color: #555555; }
  * .wrapper .__ss_plan {
    background-image: url(../../images/section_plan.png);
    background-size: cover;
    background-position: center;
    margin-top: -100px;
    padding-top: 345px; }
    * .wrapper .__ss_plan .__digital_plan {
      background: #f4f4f4;
      background-image: url(../../images/section_plan.png); }
      * .wrapper .__ss_plan .__digital_plan .container {
        padding-top: 126px;
        padding-bottom: 128px;
        display: flex; }
        * .wrapper .__ss_plan .__digital_plan .container .__content_plan {
          padding-right: 35px; }
          * .wrapper .__ss_plan .__digital_plan .container .__content_plan p.__most_amazing {
            font-weight: 500;
            font-size: 15px;
            line-height: 21px;
            letter-spacing: 0.435em;
            text-transform: uppercase;
            color: #7567f8; }
          * .wrapper .__ss_plan .__digital_plan .container .__content_plan h1.__title_plan {
            font-weight: bold;
            font-size: 42px;
            line-height: 56px;
            width: 448px; }
          * .wrapper .__ss_plan .__digital_plan .container .__content_plan p {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 29px;
            color: #555555;
            margin-top: 18px; }
          * .wrapper .__ss_plan .__digital_plan .container .__content_plan ._group_button {
            margin-top: 57px; }
            * .wrapper .__ss_plan .__digital_plan .container .__content_plan ._group_button .btn-get-started {
              padding: 23px 40px;
              background: #7567f8;
              font-family: "DM Sans", sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 22px;
              text-transform: uppercase;
              color: #ffffff;
              border: none;
              margin-right: 32px; }
              * .wrapper .__ss_plan .__digital_plan .container .__content_plan ._group_button .btn-get-started:focus {
                outline: none; }
            * .wrapper .__ss_plan .__digital_plan .container .__content_plan ._group_button .btn-enquire {
              font-family: "DM Sans", sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 22px;
              letter-spacing: 0.19em;
              text-transform: uppercase;
              color: #7567f8;
              border: none;
              background: transparent; }
              * .wrapper .__ss_plan .__digital_plan .container .__content_plan ._group_button .btn-enquire:focus {
                outline: none; }
        * .wrapper .__ss_plan .__digital_plan .container .__video_plan {
          position: relative; }
          * .wrapper .__ss_plan .__digital_plan .container .__video_plan .__button_play {
            position: absolute;
            top: 243px;
            left: 86px;
            padding-right: 118px; }
            * .wrapper .__ss_plan .__digital_plan .container .__video_plan .__button_play h2 {
              font-style: normal;
              font-weight: bold;
              font-size: 30px;
              line-height: 39px;
              color: #ffffff; }
  * .wrapper .__ss_funfact {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    * .wrapper .__ss_funfact .__item_funfact {
      background: #6253ee;
      padding: 91px 105px; }
      * .wrapper .__ss_funfact .__item_funfact:nth-child(2) {
        background: #7567f8; }
      * .wrapper .__ss_funfact .__item_funfact ._percent span {
        font-style: normal;
        font-weight: bold;
        font-size: 80px;
        line-height: 72px;
        text-align: center;
        color: #ffffff;
        margin: 0 auto;
        display: block; }
      * .wrapper .__ss_funfact .__item_funfact .__title_funfact {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 31px;
        text-align: center;
        color: #ffffff;
        margin-top: 19px; }
      * .wrapper .__ss_funfact .__item_funfact .__des_funfact {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 129%;
        text-align: center;
        color: #ffffff;
        margin-top: 3px; }
  * .wrapper .__ss_our_work {
    margin-top: 128px;
    padding-bottom: 47px; }
    * .wrapper .__ss_our_work .container .__inside_our_work {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 114.5%;
      text-align: center;
      letter-spacing: 0.225em;
      text-transform: uppercase;
      color: #7567f8; }
    * .wrapper .__ss_our_work .container .__title_our_work {
      font-weight: bold;
      font-size: 48px;
      line-height: 128%;
      letter-spacing: 2px;
      text-align: center;
      color: #000000; }
    * .wrapper .__ss_our_work .container .__our_work_wrap {
      margin-top: 60px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 57px 30px; }
      * .wrapper .__ss_our_work .container .__our_work_wrap .__item_our_work ._thumbnail_work {
        position: relative;
        width: 100%;
        max-height: 268px;
        height: 100%; }
        * .wrapper .__ss_our_work .container .__our_work_wrap .__item_our_work ._thumbnail_work img.thumb_work {
          width: 100%;
          height: 100%;
          object-fit: cover; }
        * .wrapper .__ss_our_work .container .__our_work_wrap .__item_our_work ._thumbnail_work .overplay {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.5);
          display: none;
          animation: scale 0.5s; }
        * .wrapper .__ss_our_work .container .__our_work_wrap .__item_our_work ._thumbnail_work ._arrow_work {
          display: none;
          position: absolute;
          width: 52px;
          height: 52px;
          background: #7567f8;
          top: calc(50% - 26px);
          left: calc(50% - 26px);
          animation: scale 0.5s; }
          * .wrapper .__ss_our_work .container .__our_work_wrap .__item_our_work ._thumbnail_work ._arrow_work::after {
            content: "\f178";
            font-family: FontAwesome;
            font-size: 18px;
            text-transform: uppercase;
            color: #ffffff;
            position: absolute;
            left: calc(50% - 9px);
            top: calc(50% - 8.8px); }
      * .wrapper .__ss_our_work .container .__our_work_wrap .__item_our_work ._content_our_work {
        padding: 29px 0 0 33px; }
        * .wrapper .__ss_our_work .container .__our_work_wrap .__item_our_work ._content_our_work h1.__title_work {
          font-weight: bold;
          font-size: 22px;
          line-height: 133.2%;
          color: #222222; }
        * .wrapper .__ss_our_work .container .__our_work_wrap .__item_our_work ._content_our_work .p.__des_work {
          font-weight: 500;
          font-size: 16px;
          line-height: 153.7%;
          color: #555555; }
      * .wrapper .__ss_our_work .container .__our_work_wrap .__item_our_work:hover ._arrow_work {
        display: block; }
      * .wrapper .__ss_our_work .container .__our_work_wrap .__item_our_work:hover .overplay {
        display: block; }
    * .wrapper .__ss_our_work .container ._group_button {
      text-align: center;
      margin-top: 77px; }
      * .wrapper .__ss_our_work .container ._group_button .btn-more-project {
        padding: 23px 47px;
        background: #7567f8;
        font-weight: bold;
        font-size: 14px;
        line-height: 160.2%;
        text-transform: uppercase;
        color: #ffffff;
        border: none;
        margin-right: 32px;
        cursor: pointer; }
        * .wrapper .__ss_our_work .container ._group_button .btn-more-project:focus {
          outline: none; }
      * .wrapper .__ss_our_work .container ._group_button .btn-enquire {
        font-weight: bold;
        font-size: 14px;
        line-height: 160.2%;
        letter-spacing: 0.19em;
        text-transform: uppercase;
        color: #7567f8;
        border: none;
        background: transparent;
        cursor: pointer; }
        * .wrapper .__ss_our_work .container ._group_button .btn-enquire:focus {
          outline: none; }
  * .wrapper .__ss_review {
    background: #f4f4f4;
    padding-top: 117px;
    padding-bottom: 106px; }
    * .wrapper .__ss_review .container .__look_inside_review {
      font-weight: bold;
      font-size: 20px;
      line-height: 114.5%;
      letter-spacing: 0.225em;
      text-transform: uppercase;
      text-align: center;
      color: #7567f8; }
    * .wrapper .__ss_review .container .__title_our_work {
      font-weight: bold;
      font-size: 48px;
      line-height: 128%;
      letter-spacing: 2px;
      text-align: center;
      color: #000000; }
    * .wrapper .__ss_review .container .feedback_customer {
      margin-top: 49px; }
      * .wrapper .__ss_review .container .feedback_customer .item {
        background: #ffffff;
        padding: 44px 60px 44px 67px; }
        * .wrapper .__ss_review .container .feedback_customer .item .__review_customer {
          display: grid;
          grid-template-columns: 100px 1fr; }
          * .wrapper .__ss_review .container .feedback_customer .item .__review_customer ._thumbnail_customer {
            width: 100px;
            height: 100px;
            position: relative; }
            * .wrapper .__ss_review .container .feedback_customer .item .__review_customer ._thumbnail_customer img {
              width: 100px;
              height: auto; }
            * .wrapper .__ss_review .container .feedback_customer .item .__review_customer ._thumbnail_customer .__quote {
              position: absolute;
              right: 12px;
              bottom: -8px;
              width: 36px;
              height: 36px;
              background: #ffffff;
              border-radius: 50%;
              display: flex;
              align-items: center; }
              * .wrapper .__ss_review .container .feedback_customer .item .__review_customer ._thumbnail_customer .__quote img {
                width: 16px;
                height: 32px;
                margin: 0 auto; }
          * .wrapper .__ss_review .container .feedback_customer .item .__review_customer ._comment_customer {
            font-style: italic;
            font-weight: normal;
            font-size: 16px;
            line-height: 160.2%;
            color: #555555;
            margin-left: 31px; }
          * .wrapper .__ss_review .container .feedback_customer .item .__review_customer ._infomation_customer {
            display: flex;
            margin: 24px 40px 0 31px;
            justify-content: space-between; }
            * .wrapper .__ss_review .container .feedback_customer .item .__review_customer ._infomation_customer ._info_customer .__name_customer {
              font-weight: bold;
              font-size: 20px;
              line-height: 133.2%;
              color: #222222; }
            * .wrapper .__ss_review .container .feedback_customer .item .__review_customer ._infomation_customer ._info_customer .__note_customer {
              font-weight: 500;
              font-size: 13px;
              line-height: 153.7%;
              text-transform: uppercase;
              color: #7567f8; }
      * .wrapper .__ss_review .container .feedback_customer:hover .__quote {
        border: 1px solid #7567f8; }
    * .wrapper .__ss_review .container .owl-nav {
      display: none; }
    * .wrapper .__ss_review .container .owl-dots {
      margin-top: 40px; }
      * .wrapper .__ss_review .container .owl-dots .owl-dot span {
        width: 11px;
        height: 11px;
        background: #c4c4c4; }
      * .wrapper .__ss_review .container .owl-dots .owl-dot.active span {
        background: #7567f8; }
  * .wrapper .__ss_meet_our_team {
    background-image: url(../../images/section_meet_team.png);
    background-position: center;
    background-size: cover;
    padding-top: 116px;
    padding-bottom: 113px; }
    * .wrapper .__ss_meet_our_team .container .__meet_our_team {
      font-weight: bold;
      font-size: 20px;
      line-height: 114.5%;
      text-align: center;
      letter-spacing: 0.225em;
      text-transform: uppercase;
      color: #7567f8; }
    * .wrapper .__ss_meet_our_team .container .__title_meet_our_team {
      font-weight: bold;
      font-size: 48px;
      line-height: 128%;
      letter-spacing: 2px;
      text-align: center;
      color: #000000; }
    * .wrapper .__ss_meet_our_team .container .__wrap_our_team {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(4, 1fr);
      margin-top: 60px; }
      * .wrapper .__ss_meet_our_team .container .__wrap_our_team .__member:hover img {
        transform: scale(1.1); }
      * .wrapper .__ss_meet_our_team .container .__wrap_our_team .__member .__thumbnail_member {
        width: 100%;
        height: 285px;
        overflow: hidden; }
        * .wrapper .__ss_meet_our_team .container .__wrap_our_team .__member .__thumbnail_member img {
          width: 100%;
          object-fit: cover;
          transition: 0.4s; }
      * .wrapper .__ss_meet_our_team .container .__wrap_our_team .__member .__info_member {
        margin-top: 23px; }
        * .wrapper .__ss_meet_our_team .container .__wrap_our_team .__member .__info_member ._name_member {
          font-weight: bold;
          font-size: 24px;
          line-height: 133.2%;
          color: #222222; }
        * .wrapper .__ss_meet_our_team .container .__wrap_our_team .__member .__info_member ._regency_member {
          font-weight: 500;
          font-size: 16px;
          line-height: 153.7%;
          text-transform: uppercase;
          color: #7567f8; }
  * .wrapper .__ss_team_up {
    background-image: url(../../images/secton_team_up.png);
    padding-top: 63px;
    padding-bottom: 52px;
    position: relative;
    z-index: -1; }
    * .wrapper .__ss_team_up::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: #f4f4f4;
      width: 100%;
      height: 100%;
      opacity: 0.9;
      z-index: -1; }
    * .wrapper .__ss_team_up .__wrap_team_up {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      * .wrapper .__ss_team_up .__wrap_team_up .__ready_team_up {
        display: flex;
        align-items: center; }
        * .wrapper .__ss_team_up .__wrap_team_up .__ready_team_up ._icon_team_work {
          width: 112px;
          height: 112px;
          background: #ffffff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 35px; }
          * .wrapper .__ss_team_up .__wrap_team_up .__ready_team_up ._icon_team_work img {
            width: 50px;
            height: 50px; }
        * .wrapper .__ss_team_up .__wrap_team_up .__ready_team_up .__text_team_up ._title_team_up {
          font-weight: bold;
          font-size: 40px;
          line-height: 128.7%;
          color: #222222; }
          * .wrapper .__ss_team_up .__wrap_team_up .__ready_team_up .__text_team_up ._title_team_up span {
            font-weight: normal; }
        * .wrapper .__ss_team_up .__wrap_team_up .__ready_team_up .__text_team_up ._des_team_up {
          font-size: 18px;
          line-height: 160.2%;
          color: #555555; }
      * .wrapper .__ss_team_up .__wrap_team_up ._group_btn_action ._btn_readmore {
        font-weight: bold;
        font-size: 14px;
        line-height: 160.2%;
        text-transform: uppercase;
        color: #7567f8;
        padding: 23px 40px;
        border: 5px solid #7567f8;
        margin-right: 17px; }
      * .wrapper .__ss_team_up .__wrap_team_up ._group_btn_action ._btn_started {
        font-weight: bold;
        font-size: 14px;
        line-height: 160.2%;
        text-transform: uppercase;
        color: #ffffff;
        padding: 23px 40px;
        background: #7567f8;
        border: 5px solid #7567f8; }
  * .wrapper .__ss_price_plan {
    margin-top: 116px;
    background-image: url(../../images/section_price.png);
    background-size: cover;
    background-position: center; }
    * .wrapper .__ss_price_plan .container .__pricing_plan {
      font-weight: bold;
      font-size: 20px;
      line-height: 114.5%;
      text-align: center;
      letter-spacing: 0.225em;
      text-transform: uppercase;
      color: #7567f8; }
    * .wrapper .__ss_price_plan .container .__title_pricing_plan {
      font-weight: bold;
      font-size: 48px;
      line-height: 128%;
      letter-spacing: 2px;
      text-align: center;
      color: #000000; }
    * .wrapper .__ss_price_plan .container .__wrap_price {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
      margin-top: 59px; }
      * .wrapper .__ss_price_plan .container .__wrap_price ._item_price {
        background: #ffffff;
        border: 5px solid #7567f8;
        padding: 43px 75px 177px 73px;
        position: relative;
        transition: 0.4s; }
        * .wrapper .__ss_price_plan .container .__wrap_price ._item_price ._the_price {
          font-weight: bold;
          font-size: 24px;
          line-height: 133.2%;
          color: #222222; }
          * .wrapper .__ss_price_plan .container .__wrap_price ._item_price ._the_price span {
            font-size: 64px; }
        * .wrapper .__ss_price_plan .container .__wrap_price ._item_price ._the_extend {
          font-weight: bold;
          font-size: 14px;
          line-height: 160.2%;
          letter-spacing: 0.585em;
          text-transform: uppercase;
          color: #7567f8; }
        * .wrapper .__ss_price_plan .container .__wrap_price ._item_price ._the_version {
          margin-top: 13px;
          font-weight: bold;
          font-size: 24px;
          line-height: 133.2%;
          color: #222222; }
        * .wrapper .__ss_price_plan .container .__wrap_price ._item_price ._the_option {
          margin-top: 35px; }
          * .wrapper .__ss_price_plan .container .__wrap_price ._item_price ._the_option li {
            font-size: 16px;
            line-height: 216.7%;
            list-style-type: none;
            display: flex;
            align-items: center; }
            * .wrapper .__ss_price_plan .container .__wrap_price ._item_price ._the_option li .fa {
              border: 1px solid #7567f8;
              color: #7567f8;
              font-size: 8px;
              padding: 2px;
              margin-right: 20px; }
            * .wrapper .__ss_price_plan .container .__wrap_price ._item_price ._the_option li a {
              font-size: 16px;
              line-height: 216.7%; }
        * .wrapper .__ss_price_plan .container .__wrap_price ._item_price ._get_price {
          padding: 23px 40px;
          background: #7567f8;
          font-weight: bold;
          font-size: 14px;
          line-height: 160.2%;
          text-transform: uppercase;
          color: #ffffff;
          margin-top: 45px;
          position: absolute;
          bottom: 59px;
          border: 3px solid #7567f8;
          transition: 0.4s;
          cursor: pointer; }
          * .wrapper .__ss_price_plan .container .__wrap_price ._item_price ._get_price:focus {
            outline: none; }
        * .wrapper .__ss_price_plan .container .__wrap_price ._item_price:hover {
          background: #7567f8; }
          * .wrapper .__ss_price_plan .container .__wrap_price ._item_price:hover .__info_plan ._the_price {
            color: #ffffff; }
          * .wrapper .__ss_price_plan .container .__wrap_price ._item_price:hover .__info_plan ._the_extend {
            color: #ffffff; }
          * .wrapper .__ss_price_plan .container .__wrap_price ._item_price:hover .__info_plan ._the_version {
            color: #ffffff; }
          * .wrapper .__ss_price_plan .container .__wrap_price ._item_price:hover ._the_option .fa {
            border: 1px solid #ffffff;
            color: #ffffff; }
          * .wrapper .__ss_price_plan .container .__wrap_price ._item_price:hover ._the_option a {
            color: #ffffff; }
          * .wrapper .__ss_price_plan .container .__wrap_price ._item_price:hover ._get_price {
            border: 3px solid #ffffff; }
  * .wrapper .__ss_news_and_blog {
    background: #f4f4f4;
    background-image: url(../../images/section_news.png);
    margin-top: 121px; }
    * .wrapper .__ss_news_and_blog .container .__recent_blog {
      font-weight: bold;
      font-size: 20px;
      line-height: 114.5%;
      text-align: center;
      letter-spacing: 0.225em;
      text-transform: uppercase;
      color: #7567f8; }
    * .wrapper .__ss_news_and_blog .container .__title_news {
      font-weight: bold;
      font-size: 48px;
      line-height: 128%;
      letter-spacing: 2px;
      text-align: center;
      color: #000000; }
    * .wrapper .__ss_news_and_blog .container .__wrap_news {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px; }
      * .wrapper .__ss_news_and_blog .container .__wrap_news .__items_new {
        position: relative; }
        * .wrapper .__ss_news_and_blog .container .__wrap_news .__items_new ._thumbnail_new img {
          width: 100%; }
        * .wrapper .__ss_news_and_blog .container .__wrap_news .__items_new ._thumbnail_new::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background: #000000;
          top: 0;
          left: 0;
          opacity: 0.5; }
        * .wrapper .__ss_news_and_blog .container .__wrap_news .__items_new .__category_new {
          position: absolute;
          top: 46px;
          right: 48px;
          background: #7567f8;
          font-weight: bold;
          font-size: 13px;
          line-height: 132.7%;
          text-transform: uppercase;
          color: #ffffff;
          padding: 10px 22px 9px 23px; }
        * .wrapper .__ss_news_and_blog .container .__wrap_news .__items_new .__info_news {
          position: absolute;
          top: 200px;
          left: 75px;
          right: 94px; }
          * .wrapper .__ss_news_and_blog .container .__wrap_news .__items_new .__info_news ._date_new {
            font-size: 16px;
            line-height: 132.7%;
            color: #ffffff; }
            * .wrapper .__ss_news_and_blog .container .__wrap_news .__items_new .__info_news ._date_new::before {
              content: "\f073";
              font-family: FontAwesome;
              color: #7567f8;
              margin-right: 10px; }
          * .wrapper .__ss_news_and_blog .container .__wrap_news .__items_new .__info_news ._title_new {
            font-weight: bold;
            font-size: 30px;
            line-height: 132.7%;
            color: #ffffff; }
  * .wrapper .__modal_search {
    max-width: 720px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    position: fixed;
    left: calc(50% - 375px);
    top: 0;
    overflow: auto;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.9); }
    * .wrapper .__modal_search .fa-times {
      background: #7567f8;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      padding: 15px; }
    * .wrapper .__modal_search ._search_input {
      display: flex;
      align-items: center; }
      * .wrapper .__modal_search ._search_input .fa-search {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center; }
      * .wrapper .__modal_search ._search_input input {
        width: 100%;
        height: 48px;
        border: none; }

/*# sourceMappingURL=main.css.map */
