$Laptop-L: 1440px;
$Laptop: 1024px;
$Tablet: 768px;

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: $Laptop) {
    max-width: 960px;
  }
  @media (max-width: $Tablet) {
    max-width: 720px;
  }
}
// logo menu
.__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  font-family: "DM Sans", sans-serif;
  a {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    color: #222222;
    text-decoration: none;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #7567f8;
      bottom: 10px;
      right: -15px;
    }
  }
  .__agency {
    font-weight: 500;
    font-size: 14px;
    line-height: 114.2%;
    letter-spacing: 0.315em;
    text-transform: uppercase;
    color: #999999;
    margin-left: 30px;
    margin-top: 8px;
  }
}

//Footer
._list_col_one,
._list_col_two,
._list_col_three {
  li {
    list-style-type: none;
    transition: 0.4s;
    &::before {
      content: "\f105";
      font-family: FontAwesome;
      margin-right: 10px;
      font-weight: bold;
      font-size: 24px;
    }
    &:hover {
      color: #7567f8;
      a {
        color: #7567f8;
      }
    }
  }
  a {
    font-size: 16px;
    line-height: 239.23%;
    color: #222222;
    text-decoration: none;
    transition: 0.4s;
  }
}

// Icon Social Media
.__social_media {
  a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 10px;
    @media (max-width: $Laptop) {
      width: 32px;
      height: 32px;
    }
    .fa {
      color: #ffffff;
    }
  }
  .__facebook {
    background: #186cb0;
  }
  .__google_plus {
    background: #e22e04;
  }
  .__linkedin {
    background: #074682;
  }
  .__twitter {
    background: #00b3d3;
  }
}
//Title Heading HomePage
.__heading_homepage {
  font-weight: bold;
  font-size: 50px;
  line-height: 128%;
  letter-spacing: 2px;
  text-align: center;
  color: #000000;
}

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes toRight {
  0% {
    opacity: 0;
    transform: translateX(341px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes toBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes white {
  0% {
    box-shadow: 0 0 0 0px rgb(247, 239, 239);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}

@mixin style-li {
  list-style-type: none;
  transition: 0.4s;
  &::before {
    content: "\f105";
    font-family: FontAwesome;
    margin-right: 10px;
    font-weight: bold;
    font-size: 24px;
  }
  &:hover {
    color: #7567f8;
    a {
      color: #7567f8;
    }
  }
}
@mixin heading-section {
  font-weight: bold;
  font-size: 20px;
  line-height: 114.5%;
  text-align: center;
  letter-spacing: 0.225em;
  text-transform: uppercase;
  color: #7567f8;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@import "variables";
@import "style";

@charset "UTF-8";
